html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}
.el-breadcrumb{
   margin-bottom: 15px;
    font-size: 12px;

}
.el-card{
    box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
}
.el-table{
    margin-top: 15px ;
    font-size: 15px;
}
.el-pagination{
    margin-top: 10px;
}

.home-container{
    height: 100%;
    overflow:hidden;
    width: 100%;
    position:relative;
}


.img{
    margin:  5px 0  5px 45px;
    height: 45px;

}
.header{
    background-color: #4A4A4D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;

}
.main{
    padding: 0;
}
.footer{
    background-color:#4A4A4D ;
    color: white;
    height: 20%;
}
.footer_inners{
    display: flex;
    justify-content:space-around;
    font-size: 10px;

}
.footer_inner{
    width:42%;
    padding-top: 35px;
}
.footer_span1{
    display: block;
    margin-left: 100px;

}
.footer_span11{
    display: block;
    margin-left: 100px;
    margin-top: 30px;
}
.footer_span2{
    display: block;
    margin-right: 100px;
}
.footer_span21{
    display: block;
    margin-right: 100px;
    margin-top: 7px;
}
.footer_span22{
    display: block;
    margin-right: 100px;
    margin-top:7px;
}
hr{
    margin: 0;
    padding: 0;
    width: 90%;
}
.all_hr{
    width: 85%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #4A4A4D;*/
    border-width: 2px;
}
.all_hr1{
    width: 85%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4A4A4D;
    border-width:2px;
    margin-bottom: 10px;
}
.in_hr{
    width: 85%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #cccccc;
    border-width: 0.4px;
    margin-bottom: 10px;
}